{% extends 'base.html.twig' %}

{% block title %}eVoluntário - Plataforma de trabalhos voluntários{% endblock %}

{% block body %}
<h1>eVoluntário - Plataforma de trabalhos voluntários</h1>

<p>Bem vindo ao eVoluntário - o portal que conecta instuitiçōes com o voluntariado.</p>

<div id="content-home" class="row">
    <div class="col-md-6 text-center">
        <a href="{{ path('listagem_trabalho') }}" class="text-dark">
            <img src="/images/img-voluntariado.png" /><br />
            <strong>Seja um voluntário</strong>
        </a><br /><br />
    </div>
    <div class="col-md-6 text-center">
        <a href="{% if app.user %} {{ path('admin_trabalho_cadastro') }} {% else %} {{ path('fos_user_security_login') }} {% endif %}" class="text-dark">
            <img src="/images/img-instituicao.jpg" style="height:200px" /><br />
            <strong>Cadastre sua instituição</strong>
        </a>
    </div>
</div>

{% endblock %}