{% extends 'base.html.twig' %}

{% block title %}Cadastro de Trabalhos Voluntários{% endblock %}

{% block body %}

<h1>Cadastro de Trabalhos Voluntários</h1>
{%if confirm%}
<div id="success_trabalho" class="alert alert-success">
  <strong>Obrigado!</strong> Seu trabalho foi salvo com sucesso!
  <div style="float:right; cursor:pointer" onclick="this.parentNode.style.display='none';"><strong>X</strong></div>
</div>
{%endif%}
<div class="form-group" style="max-width:700px; margin:0 auto">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}