{% extends 'base.html.twig' %}

{% block title %}Cadastro de Trabalhos Voluntários{% endblock %}

{% block body %}

<h1>Cadastro de Trabalhos Voluntários</h1><br>
{%if submit%}
    {%if confirm%}
    <div class="alert alert-success">
      <strong>Obrigado!</strong> Seu trabalho foi salvo com sucesso!
    </div>
    {%else%}
    <div class="alert alert-danger">
      <strong>Erro!</strong> Por favor realize a verificação abaixo.
    </div>
    {%endif%}
{%endif%}
{%if submit and not confirm or not submit%}
<div id="form-container" class="form-group">
    {{ form_start(form) }}   
    <div class="form-container">
       <div class="g-recaptcha" data-sitekey="6LcOMmkUAAAAAGt2Yn_LyzdNHR9yu2qJvNCV1ADJ"></div> 
    </div>
    <div class="clearfix"></div>
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
<div class="clearfix"></div>
<script src='https://www.google.com/recaptcha/api.js'></script>
{%endif%}
{% endblock %}