{% extends '/base.html.twig' %}
{% block title %}Registro de Voluntário{% endblock %}

{% block body %}
    <h1>Registro de Voluntário</h1>
    <div id="template-form">
    {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}