{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<div id="form-container" class="form-group">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
