body {background:#b2c72d;}

.clearfix {clear:both;}

h1 {font-size:32px; color:#007bff; text-shadow: 0 0 1px black}

#header {background:white;  margin:0 -15px}
#header img {margin:20px;}
#header .bgmenu {background:#25aae1;}

.nav-link, .nav-link:hover {color:white}
.nav-link.active {text-decoration: underline;}

.container {background:rgba(255,255,255,0.8); border-radius: 0 0 10px 10px; padding-bottom:20px}
.mh400 {min-height: 400px}

#list-container,
.filtros,
#form-container #form {max-width:700px; margin:0 auto;}
.filtros hr{border:1px solid #333}
.filtros h5 {cursor:pointer}
.filtros input, .filtros select {font-size: 13px}

#form-container #form div {width:330px; float:left;}
#form-container #form div:nth-child(odd) { margin-right: 20px;}
#form-container #form div:last-child {float:none}

#list-container .block-trabalho {background:white; box-shadow: 0 0 10px grey; border-radius: 4px; margin-bottom: 20px; color:#666; border:1px solid transparent; padding:20px;}
#list-container .block-trabalho strong {font-weight: 600}
#list-container .block-trabalho:hover {box-shadow: 0 0 10px #25aae1; border-color:#ccc;}


@media (min-width: 768px) {
  body {
    background:#b2c72d url('/images/volunteer-hero.jpg') 0 0 no-repeat;
    background-size:100%;
  }
}